 .parallax-container {
   line-height: 0;
   color: rgba(255,255,255,.9);
   //background-image: url('./asset/img/bg1.png');
   background-size: $w-60;
   background-repeat: no-repeat;
   background-position: top right;
   height: 100%;
   .section{
   width: 100%;
   }
   padding-top: 58px;
   margin-bottom:-40px;
 }
 
 .header{
	font-family:$font-family-pacifico;
  font-weight:$font-weight-slight;
  
	&-2{
	font-family:$font-family-poppins;
  line-height:$line-height-base;
  font-size: 18px;
	}
 }
 
 @media only screen and (max-width : 850px) {
   #index-banner .section {
     top: 10%;
     background-image:linear-gradient(to right, #f9a1a9, #e077ae);

     img{
      display:none;
    }
   }

   .header-2{
     width:100%;
   }
   
 }
 