.btn,.btn-large,.btn-small{
	background-color: $pink-30;
	&:hover{
		background-color: $purple-20;
		color:$white;
	}
}


@each $bg, $value in $colors{
    .btn-#{$bg} {
	  background-color: #{$value};
    }
  }