.countdown-type1{
    margin-bottom: 0;
    font-size: 80px;
    color: #fff;
    span{
        margin: 0 30px;
        display: inline-block;
        font-family: "Montez", cursive;
    }
    small{
        display: block;
        font-size: 16px;
        font-family: "Open Sans", Arial, sans-serif;
        margin:30px 0;
    }
}


.countdown-type2{
    margin-bottom: 0;
    font-size: 80px;
    color: #fff;
    span{
        display: inline-block;
        background-color:$blue-20;
        padding-top:1.5rem;
        padding-left:10px;
        padding-right:10px;
        font-family:$font-family-nunito;
        font-size:4.5rem;
        margin: 0 10px 20px;
    }
    small{
        display: block;
        font-size: 16px;
        font-family: "Open Sans", Arial, sans-serif;
        margin:30px 0;
    }
}


