 .icon-block {
   padding: 0 15px;
   display: block;
	position: relative;
	margin-bottom: .75rem;
	border-radius: 2px;
	//background-color: white;
	//border: 1px solid #dbdbdb;
	color: #5f5f5f;
	//box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1);
	-webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	box-sizing: border-box;

	.icon-title{
		display:flex;
		align-items:center;
		justify-content:center;
		color:white;

		.icon-div{
			width: 75px;
			height: 75px;
			background:$grad-linear;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
	 }
	}
	
 }

 .icon-block .material-icons {
	 font-size: inherit;
 }
 
 
