.login-body{ 
    padding-top:100px;
    padding-bottom:50px;
    margin: 0 10px;

    .back-section{
        display: flex;
        align-items: center;

        a{
            font-size: 24px;
            width: 50px;
            height: auto;
            padding: 10px;
    
            &:hover{
                background-color: gray;
                border-radius: 50%;
            }  
    
            i{
                position: relative;
                display: flex;
                align-items: center;
                justify-items: center;
            }
              
        }
    }
}

.test-layer{
    margin-top:80px;

    .layer-left{
        display: inline-block;

        .menu{
            p{
                display:inline-block;
            }
        }
    }

    .layer-right{
        display: inline-block;
        float:right;
    }
}