.file-image{
    max-width: 250px;
    max-height: 300px;
    margin:0 auto;

    .image{
        width: 100%;
         height: auto;
    }
 }



.file-image-web{
    max-width: 450px;
    height: auto;
    margin:0 auto;
    max-height: 300px;
    
    .image{
         width: 100%;
        height: auto;
     }
 }
