@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Nunito|Poppins|Roboto:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montez:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap");
nav ul a {
  color: #434755; }
nav .brand-logo {
  color: #434755; }

.sidenav-trigger {
  color: #f9a1a9; }

.parallax-container {
  line-height: 0;
  color: rgba(255, 255, 255, 0.9);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100%; }
  .parallax-container .section {
    width: 100%; }

.header {
  font-family: "Pacifico", cursive;
  font-weight: 200; }
  .header-2 {
    font-family: "Poppins", sans-serif;
    line-height: 26px;
    font-size: 18px; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }

  #index-banner .section {
    top: 10%; } }
.icon-block {
  padding: 0 15px;
  display: block;
  min-height: 350px;
  position: relative;
  margin-bottom: .75rem;
  border-radius: 2px;
  color: #5f5f5f;
  -webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .icon-block .icon-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; }
    .icon-block .icon-title .icon-div {
      width: 75px;
      height: 75px;
      background-color: #e37e87;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }

.icon-block .material-icons {
  font-size: inherit; }

.btn, .btn-large, .btn-small {
  background-color: #e37e87; }
  .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #c73782;
    color: #f4f4f4; }

.btn-primary {
  background-color: #f9a1a9; }

.btn-primary-30 {
  background-color: #e37e87; }

.btn-secondary-green {
  background-color: #e077ae; }

.btn-secondary-grey {
  background-color: #eaeaea; }

.btn-success {
  background-color: #f9a1a9; }

.btn-danger {
  background-color: #fb1616; }

.btn-warning {
  background-color: #e077ae; }

.btn-info {
  background-color: #70727D; }

.btn-light {
  background-color: #DCDEE3; }

.btn-dark {
  background-color: #636b6f; }

.btn-white {
  background-color: #f4f4f4; }

.countdown-type1 {
  margin-bottom: 0;
  font-size: 80px;
  color: #fff; }
  .countdown-type1 span {
    margin: 0 30px;
    display: inline-block;
    font-family: "Montez", cursive; }
  .countdown-type1 small {
    display: block;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 30px 0; }

.countdown-type2 {
  margin-bottom: 0;
  font-size: 80px;
  color: #fff; }
  .countdown-type2 span {
    display: inline-block;
    background-color: #6f9eb7;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 4.5rem;
    margin: 0 10px 20px; }
  .countdown-type2 small {
    display: block;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 30px 0; }

.step-info-container {
  width: 100%;
  height: 500px; }
  .step-info-container .step-info-image {
    background-image: url("img/picquote.png");
    display: block;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: relative; }
    .step-info-container .step-info-image .step-info-text {
      position: absolute;
      z-index: 99999;
      color: black;
      font-weight: 400;
      font-size: 40px; }

.u-bd {
  border: 1px solid #9C9DA6 !important; }

.u-bd-top {
  border-top: 1px solid #9C9DA6 !important; }

.u-bd-right {
  border-right: 1px solid #9C9DA6 !important; }

.u-bd-bottom {
  border-bottom: 1px solid #9C9DA6 !important; }

.u-bd-left {
  border-left: 1px solid #9C9DA6 !important; }

.u-bd-0 {
  border: 0 !important; }

.u-bd-top-0 {
  border-top: 0 !important; }

.u-bd-right-0 {
  border-right: 0 !important; }

.u-bd-bottom-0 {
  border-bottom: 0 !important; }

.u-bd-left-0 {
  border-left: 0 !important; }

.u-bd-x {
  border-left: 1px solid #9C9DA6 !important;
  border-right: 1px solid #9C9DA6 !important; }

.u-bd-y {
  border-top: 1px solid #9C9DA6 !important;
  border-bottom: 1px solid #9C9DA6 !important; }

.u-bd-primary {
  border-color: #f9a1a9 !important; }

.u-bd-primary-30 {
  border-color: #e37e87 !important; }

.u-bd-secondary-green {
  border-color: #e077ae !important; }

.u-bd-secondary-grey {
  border-color: #eaeaea !important; }

.u-bd-success {
  border-color: #f9a1a9 !important; }

.u-bd-danger {
  border-color: #fb1616 !important; }

.u-bd-warning {
  border-color: #e077ae !important; }

.u-bd-info {
  border-color: #70727D !important; }

.u-bd-light {
  border-color: #DCDEE3 !important; }

.u-bd-dark {
  border-color: #636b6f !important; }

.u-bd-white {
  border-color: #f4f4f4 !important; }

.u-rnd {
  border-radius: 4px !important; }

.u-rnd-top {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important; }

.u-rnd-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important; }

.u-rnd-bottom {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

.u-rnd-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

.u-rnd-circle {
  border-radius: 50% !important; }

.u-rnd-0 {
  border-radius: 0 !important; }

.u-clearfix::after {
  content: "";
  clear: both;
  display: block; }

.u-tx-primary {
  color: #f9a1a9; }

.u-tx-primary-30 {
  color: #e37e87; }

.u-tx-secondary-green {
  color: #e077ae; }

.u-tx-secondary-grey {
  color: #eaeaea; }

.u-tx-success {
  color: #f9a1a9; }

.u-tx-danger {
  color: #fb1616; }

.u-tx-warning {
  color: #e077ae; }

.u-tx-info {
  color: #70727D; }

.u-tx-light {
  color: #DCDEE3; }

.u-tx-dark {
  color: #636b6f; }

.u-tx-white {
  color: #f4f4f4; }

.u-tx-black40 {
  color: #9C9DA6; }

.u-bg-primary {
  background-color: #f9a1a9; }

.u-bg-primary-30 {
  background-color: #e37e87; }

.u-bg-secondary-green {
  background-color: #e077ae; }

.u-bg-secondary-grey {
  background-color: #eaeaea; }

.u-bg-success {
  background-color: #f9a1a9; }

.u-bg-danger {
  background-color: #fb1616; }

.u-bg-warning {
  background-color: #e077ae; }

.u-bg-info {
  background-color: #70727D; }

.u-bg-light {
  background-color: #DCDEE3; }

.u-bg-dark {
  background-color: #636b6f; }

.u-bg-white {
  background-color: #f4f4f4; }

.u-ds-none {
  display: none !important; }

.u-ds-block {
  display: block !important; }

.u-ds-inline-block {
  display: inline-block !important; }

.u-ds-inline {
  display: inline !important; }

.u-ds-table {
  display: table !important; }

.u-ds-flex {
  display: flex !important; }

.u-ds-inline-flex {
  display: inline-flex !important; }

.u-ds-table-cell {
  display: table-cell !important; }

.u-ds-table-row {
  display: table-row !important; }

.u-ov-hidden {
  overflow: hidden !important; }

.u-ov-scroll {
  overflow: scroll !important; }

.u-ov-auto {
  overflow: auto !important; }

.u-ov-x-hidden {
  overflow-x: hidden !important; }

.u-ov-x-scroll {
  overflow-x: scroll !important; }

.u-ov-x-auto {
  overflow-x: auto !important; }

.u-ov-y-hidden {
  overflow-y: hidden !important; }

.u-ov-y-scroll {
  overflow-y: scroll !important; }

.u-ov-y-auto {
  overflow-y: auto !important; }

.u-cr-default {
  cursor: default; }

.u-cr-pointer {
  cursor: pointer; }

.u-cr-context-menu {
  cursor: context-menu; }

.u-cr-help {
  cursor: help; }

.u-cr-progress {
  cursor: progress; }

.u-cr-crosshair {
  cursor: crosshair; }

.u-cr-text {
  cursor: text; }

.u-cr-copy {
  cursor: copy; }

.u-cr-move {
  cursor: move; }

.u-cr-not-allowed {
  cursor: not-allowed; }

.u-cr-zoom-in {
  cursor: zoom-in; }

.u-cr-zoom-out {
  cursor: zoom-out; }

.u-cr-grab {
  cursor: grab; }

.u-cr-grabbing {
  cursor: grabbing; }

.u-fl-left {
  float: left !important; }

.u-fl-right {
  float: right !important; }

.u-fl-none {
  float: none !important; }

.u-ps-relative {
  position: relative !important; }

.u-ps-absolute {
  position: absolute !important; }

.u-ps-static {
  position: static !important; }

.u-ps-fixed {
  position: fixed !important; }

.u-ps-fixed-top {
  position: fixed !important;
  top: 0; }

.u-ps-fixed-bottom {
  position: fixed !important;
  bottom: 0; }

.u-ps-sticky {
  position: sticky !important; }

.u-ps-sticky-top {
  position: sticky !important;
  top: 0; }

.u-wd-full {
  width: 100% !important; }

.u-wd-half {
  width: 50% !important; }

.u-hg-full {
  height: 100% !important; }

.u-hg-vh {
  height: 100vh !important; }

.u-wd-large {
  width: 1080px !important; }

.u-wd-medium {
  width: 984px !important; }

.u-wd-small {
  width: 784px !important; }

.u-pt-0 {
  padding-top: 0px; }

.u-pr-0 {
  padding-right: 0px; }

.u-pb-0 {
  padding-bottom: 0px; }

.u-pl-0 {
  padding-left: 0px; }

.u-p-0 {
  padding: 0px !important; }

.u-px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.u-py-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.u-pt-4 {
  padding-top: 4px; }

.u-pr-4 {
  padding-right: 4px; }

.u-pb-4 {
  padding-bottom: 4px; }

.u-pl-4 {
  padding-left: 4px; }

.u-p-4 {
  padding: 4px !important; }

.u-px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important; }

.u-py-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.u-pt-8 {
  padding-top: 8px; }

.u-pr-8 {
  padding-right: 8px; }

.u-pb-8 {
  padding-bottom: 8px; }

.u-pl-8 {
  padding-left: 8px; }

.u-p-8 {
  padding: 8px !important; }

.u-px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.u-py-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.u-pt-12 {
  padding-top: 12px; }

.u-pr-12 {
  padding-right: 12px; }

.u-pb-12 {
  padding-bottom: 12px; }

.u-pl-12 {
  padding-left: 12px; }

.u-p-12 {
  padding: 12px !important; }

.u-px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important; }

.u-py-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.u-pt-16 {
  padding-top: 16px; }

.u-pr-16 {
  padding-right: 16px; }

.u-pb-16 {
  padding-bottom: 16px; }

.u-pl-16 {
  padding-left: 16px; }

.u-p-16 {
  padding: 16px !important; }

.u-px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.u-py-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.u-pt-20 {
  padding-top: 20px; }

.u-pr-20 {
  padding-right: 20px; }

.u-pb-20 {
  padding-bottom: 20px; }

.u-pl-20 {
  padding-left: 20px; }

.u-p-20 {
  padding: 20px !important; }

.u-px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.u-py-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.u-pt-24 {
  padding-top: 24px; }

.u-pr-24 {
  padding-right: 24px; }

.u-pb-24 {
  padding-bottom: 24px; }

.u-pl-24 {
  padding-left: 24px; }

.u-p-24 {
  padding: 24px !important; }

.u-px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important; }

.u-py-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.u-pt-28 {
  padding-top: 28px; }

.u-pr-28 {
  padding-right: 28px; }

.u-pb-28 {
  padding-bottom: 28px; }

.u-pl-28 {
  padding-left: 28px; }

.u-p-28 {
  padding: 28px !important; }

.u-px-28 {
  padding-left: 28px !important;
  padding-right: 28px !important; }

.u-py-28 {
  padding-top: 28px;
  padding-bottom: 28px; }

.u-pt-32 {
  padding-top: 32px; }

.u-pr-32 {
  padding-right: 32px; }

.u-pb-32 {
  padding-bottom: 32px; }

.u-pl-32 {
  padding-left: 32px; }

.u-p-32 {
  padding: 32px !important; }

.u-px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important; }

.u-py-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.u-pt-36 {
  padding-top: 36px; }

.u-pr-36 {
  padding-right: 36px; }

.u-pb-36 {
  padding-bottom: 36px; }

.u-pl-36 {
  padding-left: 36px; }

.u-p-36 {
  padding: 36px !important; }

.u-px-36 {
  padding-left: 36px !important;
  padding-right: 36px !important; }

.u-py-36 {
  padding-top: 36px;
  padding-bottom: 36px; }

.u-pt-40 {
  padding-top: 40px; }

.u-pr-40 {
  padding-right: 40px; }

.u-pb-40 {
  padding-bottom: 40px; }

.u-pl-40 {
  padding-left: 40px; }

.u-p-40 {
  padding: 40px !important; }

.u-px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.u-py-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.u-pt-44 {
  padding-top: 44px; }

.u-pr-44 {
  padding-right: 44px; }

.u-pb-44 {
  padding-bottom: 44px; }

.u-pl-44 {
  padding-left: 44px; }

.u-p-44 {
  padding: 44px !important; }

.u-px-44 {
  padding-left: 44px !important;
  padding-right: 44px !important; }

.u-py-44 {
  padding-top: 44px;
  padding-bottom: 44px; }

.u-pt-48 {
  padding-top: 48px; }

.u-pr-48 {
  padding-right: 48px; }

.u-pb-48 {
  padding-bottom: 48px; }

.u-pl-48 {
  padding-left: 48px; }

.u-p-48 {
  padding: 48px !important; }

.u-px-48 {
  padding-left: 48px !important;
  padding-right: 48px !important; }

.u-py-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.u-pt-52 {
  padding-top: 52px; }

.u-pr-52 {
  padding-right: 52px; }

.u-pb-52 {
  padding-bottom: 52px; }

.u-pl-52 {
  padding-left: 52px; }

.u-p-52 {
  padding: 52px !important; }

.u-px-52 {
  padding-left: 52px !important;
  padding-right: 52px !important; }

.u-py-52 {
  padding-top: 52px;
  padding-bottom: 52px; }

.u-pt-56 {
  padding-top: 56px; }

.u-pr-56 {
  padding-right: 56px; }

.u-pb-56 {
  padding-bottom: 56px; }

.u-pl-56 {
  padding-left: 56px; }

.u-p-56 {
  padding: 56px !important; }

.u-px-56 {
  padding-left: 56px !important;
  padding-right: 56px !important; }

.u-py-56 {
  padding-top: 56px;
  padding-bottom: 56px; }

.u-pt-80 {
  padding-top: 80px; }

.u-pr-80 {
  padding-right: 80px; }

.u-pb-80 {
  padding-bottom: 80px; }

.u-pl-80 {
  padding-left: 80px; }

.u-p-80 {
  padding: 80px !important; }

.u-px-80 {
  padding-left: 80px !important;
  padding-right: 80px !important; }

.u-py-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.u-mt-0 {
  margin-top: 0px; }

.u-mr-0 {
  margin-right: 0px; }

.u-mb-0 {
  margin-bottom: 0px; }

.u-ml-0 {
  margin-left: 0px; }

.u-m-0 {
  margin: 0px; }

.u-mx-0 {
  margin-left: 0px;
  margin-right: 0px; }

.u-my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.u-mt-4 {
  margin-top: 4px; }

.u-mr-4 {
  margin-right: 4px; }

.u-mb-4 {
  margin-bottom: 4px; }

.u-ml-4 {
  margin-left: 4px; }

.u-m-4 {
  margin: 4px; }

.u-mx-4 {
  margin-left: 4px;
  margin-right: 4px; }

.u-my-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.u-mt-8 {
  margin-top: 8px; }

.u-mr-8 {
  margin-right: 8px; }

.u-mb-8 {
  margin-bottom: 8px; }

.u-ml-8 {
  margin-left: 8px; }

.u-m-8 {
  margin: 8px; }

.u-mx-8 {
  margin-left: 8px;
  margin-right: 8px; }

.u-my-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.u-mt-12 {
  margin-top: 12px; }

.u-mr-12 {
  margin-right: 12px; }

.u-mb-12 {
  margin-bottom: 12px; }

.u-ml-12 {
  margin-left: 12px; }

.u-m-12 {
  margin: 12px; }

.u-mx-12 {
  margin-left: 12px;
  margin-right: 12px; }

.u-my-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.u-mt-16 {
  margin-top: 16px; }

.u-mr-16 {
  margin-right: 16px; }

.u-mb-16 {
  margin-bottom: 16px; }

.u-ml-16 {
  margin-left: 16px; }

.u-m-16 {
  margin: 16px; }

.u-mx-16 {
  margin-left: 16px;
  margin-right: 16px; }

.u-my-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.u-mt-20 {
  margin-top: 20px; }

.u-mr-20 {
  margin-right: 20px; }

.u-mb-20 {
  margin-bottom: 20px; }

.u-ml-20 {
  margin-left: 20px; }

.u-m-20 {
  margin: 20px; }

.u-mx-20 {
  margin-left: 20px;
  margin-right: 20px; }

.u-my-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.u-mt-24 {
  margin-top: 24px; }

.u-mr-24 {
  margin-right: 24px; }

.u-mb-24 {
  margin-bottom: 24px; }

.u-ml-24 {
  margin-left: 24px; }

.u-m-24 {
  margin: 24px; }

.u-mx-24 {
  margin-left: 24px;
  margin-right: 24px; }

.u-my-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.u-mt-28 {
  margin-top: 28px; }

.u-mr-28 {
  margin-right: 28px; }

.u-mb-28 {
  margin-bottom: 28px; }

.u-ml-28 {
  margin-left: 28px; }

.u-m-28 {
  margin: 28px; }

.u-mx-28 {
  margin-left: 28px;
  margin-right: 28px; }

.u-my-28 {
  margin-top: 28px;
  margin-bottom: 28px; }

.u-mt-32 {
  margin-top: 32px; }

.u-mr-32 {
  margin-right: 32px; }

.u-mb-32 {
  margin-bottom: 32px; }

.u-ml-32 {
  margin-left: 32px; }

.u-m-32 {
  margin: 32px; }

.u-mx-32 {
  margin-left: 32px;
  margin-right: 32px; }

.u-my-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.u-mt-36 {
  margin-top: 36px; }

.u-mr-36 {
  margin-right: 36px; }

.u-mb-36 {
  margin-bottom: 36px; }

.u-ml-36 {
  margin-left: 36px; }

.u-m-36 {
  margin: 36px; }

.u-mx-36 {
  margin-left: 36px;
  margin-right: 36px; }

.u-my-36 {
  margin-top: 36px;
  margin-bottom: 36px; }

.u-mt-40 {
  margin-top: 40px; }

.u-mr-40 {
  margin-right: 40px; }

.u-mb-40 {
  margin-bottom: 40px; }

.u-ml-40 {
  margin-left: 40px; }

.u-m-40 {
  margin: 40px; }

.u-mx-40 {
  margin-left: 40px;
  margin-right: 40px; }

.u-my-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.u-mt-44 {
  margin-top: 44px; }

.u-mr-44 {
  margin-right: 44px; }

.u-mb-44 {
  margin-bottom: 44px; }

.u-ml-44 {
  margin-left: 44px; }

.u-m-44 {
  margin: 44px; }

.u-mx-44 {
  margin-left: 44px;
  margin-right: 44px; }

.u-my-44 {
  margin-top: 44px;
  margin-bottom: 44px; }

.u-mt-48 {
  margin-top: 48px; }

.u-mr-48 {
  margin-right: 48px; }

.u-mb-48 {
  margin-bottom: 48px; }

.u-ml-48 {
  margin-left: 48px; }

.u-m-48 {
  margin: 48px; }

.u-mx-48 {
  margin-left: 48px;
  margin-right: 48px; }

.u-my-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.u-mt-52 {
  margin-top: 52px; }

.u-mr-52 {
  margin-right: 52px; }

.u-mb-52 {
  margin-bottom: 52px; }

.u-ml-52 {
  margin-left: 52px; }

.u-m-52 {
  margin: 52px; }

.u-mx-52 {
  margin-left: 52px;
  margin-right: 52px; }

.u-my-52 {
  margin-top: 52px;
  margin-bottom: 52px; }

.u-mt-56 {
  margin-top: 56px; }

.u-mr-56 {
  margin-right: 56px; }

.u-mb-56 {
  margin-bottom: 56px; }

.u-ml-56 {
  margin-left: 56px; }

.u-m-56 {
  margin: 56px; }

.u-mx-56 {
  margin-left: 56px;
  margin-right: 56px; }

.u-my-56 {
  margin-top: 56px;
  margin-bottom: 56px; }

.u-mt-80 {
  margin-top: 80px; }

.u-mr-80 {
  margin-right: 80px; }

.u-mb-80 {
  margin-bottom: 80px; }

.u-ml-80 {
  margin-left: 80px; }

.u-m-80 {
  margin: 80px; }

.u-mx-80 {
  margin-left: 80px;
  margin-right: 80px; }

.u-my-80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.u-m-auto {
  margin: auto; }

.u-tx-center {
  text-align: center !important; }

.u-tx-right {
  text-align: right !important; }

.u-tx-left {
  text-align: left !important; }

.u-tx-nowrap {
  white-space: nowrap !important; }

.u-tx-wrap {
  white-space: normal !important; }

.u-fw-light {
  font-weight: 300 !important; }

.u-fw-normal {
  font-weight: 200 !important; }

.u-fw-regular {
  font-weight: 500 !important; }

.u-fw-bold {
  font-weight: 600 !important; }

.u-tx-italic {
  font-style: italic !important; }

.u-tx-upcase {
  text-transform: uppercase !important; }

.u-tx-lowcase {
  text-transform: lowercase !important; }

.u-tx-capital {
  text-transform: capitalize !important; }

.u-tx-nodecor {
  text-decoration: none !important; }

.u-tx-d1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 44px; }

.u-tx-d2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px; }

.u-tx-d3 {
  font-size: 24px;
  line-height: 26px; }

.u-tx-d4 {
  font-size: 20px;
  line-height: 22px; }

.u-tx-b2 {
  font-size: 12px;
  line-height: 14px; }

.u-tx-b3 {
  font-size: 10px;
  line-height: 12px; }

.u-tx-b4 {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px; }

.u-tx-p1 {
  line-height: 1.5; }

.u-tx-p2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5; }

h1 {
  font-size: 3.5rem;
  font-weight: 700; }

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize; }

h3 {
  font-size: 1.5rem;
  font-weight: 600; }

h4 {
  font-size: 0.5rem;
  font-weight: 600; }

a {
  color: #f9a1a9; }
  a:hover {
    color: #e37e87;
    text-decoration: none; }
  a:active {
    color: #fad4d8;
    text-decoration: none; }
  a.u-tx-secondary:hover {
    color: #cd6fa0; }
  a.u-tx-secondary:active {
    color: #c73782; }

.u-yal-baseline {
  vertical-align: baseline !important; }

.u-yal-top {
  vertical-align: top !important; }

.u-yal-middle {
  vertical-align: middle !important; }

.u-yal-bottom {
  vertical-align: bottom !important; }

.u-yal-text-top {
  vertical-align: text-top !important; }

.u-yal-text-bottom {
  vertical-align: text-bottom !important; }

.u-zx-dropdown {
  z-index: 1000; }

.u-zx-sticky {
  z-index: 1020; }

.u-zx-fixed {
  z-index: 1030; }

.u-zx-modal-backdrop {
  z-index: 1040; }

.u-zx-modal {
  z-index: 1050; }

.u-zx-popover {
  z-index: 1060; }

.u-zx-tooltip {
  z-index: 1070; }

.bg-grad {
  background-image: gradient(to right, #f9a1a9, #e077ae); }

.bg-grad-pink-180 {
  background-image: linear-gradient(to right, #f9a1a9, #e077ae); }

.bg-grad-blue-180 {
  background-image: linear-gradient(to right, #9fbdcd, #6f9eb7); }

.bg-grey {
  background-color: #eaeaea; }

.bg-grey-30 {
  background-color: #877f54; }

.u-bg-img-bg1 {
  background-image: url("img/background1.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.u-bg-img-bg18 {
  background-image: url("/img/background2.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.u-bg-img-bg17 {
  background-image: url("img/pink.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.file-image {
  max-width: 250px;
  max-height: 300px;
  margin: 0 auto; }
  .file-image .image {
    width: 100%;
    height: auto; }

.file-image-web {
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  max-height: 300px; }
  .file-image-web .image {
    width: 100%;
    height: auto; }

.address-map {
  height: 100px;
  width: 100%; }

.registerbyphone .u-ps-absolute, .registerbysosmed .u-ps-absolute, .registerdone .u-ps-absolute {
  bottom: 32px; }

.registerbyphone .u-hg-vh, .registerbysosmed .u-hg-vh, .registerdone .u-hg-vh {
  height: calc(100vh - 44px) !important; }

nav {
  position: fixed;
  z-index: 2; }

.section {
  padding-top: 50px;
  padding-bottom: 50px; }

/* theme header part */
.theme-header-bg17 {
  color: #aca7a7;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center; }
  .theme-header-bg17 span {
    border-top: 2px solid #aca7a7;
    border-bottom: 2px solid #aca7a7;
    padding: 5px 0px;
    letter-spacing: 7px; }

.theme-header-bg18 {
  color: #877f54;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  padding: 10px;
  text-align: center;
  letter-spacing: 3px; }
  .theme-header-bg18 span {
    border-top: 2px solid #aca7a7;
    border-bottom: 2px solid #aca7a7;
    padding: 5px 0px;
    letter-spacing: 7px; }

/* title header part */
.title-header-bg17 {
  color: #aca7a7;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-family: "Montez", cursive;
  font-weight: 200;
  font-size: 3.5rem;
  line-height: 1.5; }

.title-header-bg18 {
  color: #877f54;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 200;
  font-size: 2.5rem;
  letter-spacing: 3px; }

/* section heading part */
.section-heading-bg17 {
  color: #e37e87;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-family: "Montez", cursive;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.5; }

/* theme couple part */
.theme-couple-bg17 {
  font-family: "Cinzel", serif;
  font-size: 25px; }

/* quote-section */
.detail-section-bg18 {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .detail-section-bg18 .detail-bg {
    background-image: url("img/frame.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100%; }
    .detail-section-bg18 .detail-bg .detail-word {
      font-family: "Cinzel", serif;
      font-size: 18px;
      padding-top: 133px; }

.countdown-section-bg18 .couple-name {
  font-family: "Montez", cursive;
  font-weight: 200;
  font-size: 3.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem; }
.countdown-section-bg18 .wording-quotes {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  margin-bottom: 3rem; }

.theme-body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 3em;
  opacity: 0; }
  .theme-body.visible {
    transition: opacity 1s ease-in;
    opacity: 1; }

body {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  color: #636b6f; }

.container {
  width: 80%; }

.react-confirm-alert-overlay {
  background-color: rgba(48, 49, 48, 0.42) !important; }

/*# sourceMappingURL=index.css.map */
